@use "../components/Button/Button.scss";
@use "../components/Header/Header.scss";

.test-image {
	width: 100px;
	height: 100px;
	background-image: url("/assets/images/angel.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
